{% extends 'base.html' %}

{% load static %}

{% block page_content %}
{% if user.is_authenticated %}
<div class="padding">
	<div class="container">
		<div class="card">
			{% for info in infos %}
			{% if info.profile_picture %}
			<img class="card-image-top" src="{{ info.profile_picture.url }}" id="profile-picture">
			{% endif %}
			<h1 class="card-title"> Profile's name: {{ info.user }} </h1>
			<p>{{ info.description }}</p>
			{% if info.followers %}
			<h4>Followers</h4>
			<p>{{ info.followers.count }}</p>
			{% else %}
			<p>No follower</p>
			{% endif %}
		</div>
	</div>
</div>
<div class="container">
	{% endfor %}
          {%  for post in posts  %}
              {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-content">
													<h4 class="card-header"><a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a></h4>
													<p class="card-text">{{ post.content }}</p>
													<p class="card-text">{{ post.date_post }}</p>
                        </div>
                    </div>
                </div>
          {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><hr>{%  endif %}
          {%  endfor %}
        </div>
				{% endif %}
{% endblock %}
